@import var

*
    margin: 0
    padding: 0

.centr
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

header
    background: $select_color

.greeting
    text-align: center
    color: $text_color
    padding: 20px

.carousel
    margin-top: -8px
    &-inner
        height: 250px
    &-item
        height: 100%
    /*& img
     width: 100%
     height: 100%*/

.dignities
    &_box
        height: 250px
        box-shadow: 6px 4px 35px rgba(56, 41, 50, 0.21)
